<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/Admin.css">
    <link rel="stylesheet" href="assets/css/Admin.css"> <!-- Referencia al archivo CSS externo -->
    <title>AeroInfo - Administración</title>
</head>

<body>
    <header class="banner">
        <div class="banner__logo">AeroInfo</div>
        <nav class="banner__nav">
            <ul class="nav__links">
                <li class="link"><a href="Admin.html">Inicio</a></li>
                <li class="link"><a href="agregarVuelos.html">Gestión de vuelos</a></li>
                <li class="link"><a href="gestionUsuarios.html">Gestión de usuarios</a></li>
                <li class="link"><a href="gestionReportes.html">Gestión de reportes</a></li>
                <li class="link"><button onclick="window.location.href='home.html';">Salir</button></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido al Panel de Administración de AeroInfo</h1>
            <p class="lead">Aquí puedes gestionar usuarios, vuelos, reservas y más.</p>
            <hr class="my-4">
        </div>
    </div>

    <!-- Bootstrap JS y Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; 2024 AeroInfo. Todos los derechos reservados.</span>
        </div>
    </footer>
</body>

</html>
