<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/Admin.css">
    <title>Gestion de vuelos</title>
</head>

<body>
    <header class="banner">
        <div class="banner__logo">AeroInfo</div>
        <nav class="banner__nav">
            <ul class="nav__links">
                <li class="link"><a href="Admin.html">Inicio</a></li>
                <li class="link"><a href="agregarVuelos.html">Gestión de vuelos</a></li>
                <li class="link"><a href="gestionUsuarios.html">Gestión de usuarios</a></li>
                <li class="link"><a href="gestionReportes.html">Gestión de reportes</a></li>
                <li class="link"><button onclick="window.location.href='home.html';">Salir</button></li>
            </ul>
        </nav>
    </header>

   <div class="container-fluid"> <!-- Contenedor fluido para ocupar todo el ancho -->
        <div class="row justify-content-center">
    <div class="col-md-12 mb-4">
        <div class="card h-59">
            <div class="card-header text-white" style="background-color: #003459;">
                        <h1 class="text-center">Agregar Nuevo Vuelo</h1>
                    </div>
                    <div class="card-body">
                        <form id="formVuelo" action="/nuevoVuelo" method="POST">
                            <div class="form-group">
                                <label for="NUMERO_VUELO">Número de Vuelo:</label>
                                <input type="text" class="form-control" id="NUMERO_VUELO" name="NUMERO_VUELO" required>
                            </div>

                            <div class="form-group">
                                <label for="DESTINO">Destino:</label>
                                <input type="text" class="form-control" id="DESTINO" name="DESTINO" required>
                            </div>

                            <div class="form-group">
                                <label for="ESTADO">Estado:</label>
                                <input type="text" class="form-control" id="ESTADO" name="ESTADO" required>
                            </div>

                            <div class="form-group">
                                <label for="HORA_SALIDA">Hora de Salida:</label>
                                <input type="datetime-local" class="form-control" id="HORA_SALIDA" name="HORA_SALIDA" required>
                            </div>

                            <div class="form-group">
                                <label for="HORA_LLEGADA">Hora de Llegada:</label>
                                <input type="datetime-local" class="form-control" id="HORA_LLEGADA" name="HORA_LLEGADA" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Agregar Vuelo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
    </div>
    <div class="container-fluid"> <!-- Contenedor fluido para ocupar todo el ancho -->
        <div class="row justify-content-center">
    <div class="col-md-12 mb-4">
    
        <div class="card h-59">
            <div class="card-header text-white" style="background-color: #003459;">
                        <h1 class="text-center">Editar Vuelo</h1>
                    </div>
                    <div class="card-body">
                        <form id="formVuelo" action="/editarVuelo" method="POST">
                            <div class="form-group">
                                <label for="NUMERO_VUELO">Número de Vuelo:</label>
                                <input type="text" class="form-control" id="NUMERO_VUELO" name="NUMERO_VUELO" required>
                            </div>

                            <div class="form-group">
                                <label for="DESTINO">Destino:</label>
                                <input type="text" class="form-control" id="DESTINO" name="DESTINO" required>
                            </div>

                            <div class="form-group">
                                <label for="ESTADO">Estado:</label>
                                <input type="text" class="form-control" id="ESTADO" name="ESTADO" required>
                            </div>

                            <div class="form-group">
                                <label for="HORA_SALIDA">Hora de Salida:</label>
                                <input type="datetime-local" class="form-control" id="HORA_SALIDA" name="HORA_SALIDA" required>
                            </div>

                            <div class="form-group">
                                <label for="HORA_LLEGADA">Hora de Llegada:</label>
                                <input type="datetime-local" class="form-control" id="HORA_LLEGADA" name="HORA_LLEGADA" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  
    
            <div class="col-md-4 mb-4">
                <div class="card h-59">
                    <div class="card-header text-white" style="background-color: #003459;">
                        <h2 class="text-center">Borrar Vuelo</h2>
                    </div>
                    <div class="card-body">
                    <form id="formBorrarVuelo" action="/borrarVuelo" method="POST">
                        <div class="form-group">
                            <label for="NUMERO_VUELO">ID del Vuelo a Borrar:</label>
                            <input type="text" class="form-control" id="NUMERO_VUELO" name="NUMERO_VUELO" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Borrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap JS y Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer>
        <p>&copy; 2024 Aeroinfo. Todos los derechos reservados.</p>
    </footer>
</body>

</html>

