<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/Admin.css"> <!-- Referencia al archivo CSS externo -->
    <link rel="stylesheet" type="text/css" href="./plugins/DataTables/datatables.css"> <!-- Referencia al archivo CSS externo -->
    <title>Gestion de usuarios</title>
</head>

<body>
    <header class="banner">
        <a href="/admin">
        <div class="banner__logo">AeroInfo</div>
        </a>
        <nav class="banner__nav">
            <ul class="nav__links">
                <li class="link"><a href="/admin">Inicio</a></li>
                <li class="link"><a href="/gestionVuelos">Gestión de vuelos</a></li>
                <li class="link"><a href="/users">Gestión de usuarios</a></li>
                <li class="link"><a href="/reportes">Gestión de reportes</a></li>
                <li class="link"><a href="/">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>


    <div class="container">
        <div class="row  text-center">
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/addUser" class="btn btn-primary">Añadir Usuario</a>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/updateUser" class="btn btn-warning">Editar Usuario</a>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/eliminar" class="btn btn-danger">Eliminar Usuario</a>
            </div>
        </div>
        <table class="table-sm table-bordered table" id="tableUsuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS y Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./gestionUsuarios.js"></script>
    <script src="./plugins/DataTables/datatables.js"></script>



    <footer>
        <p>&copy; 2024 AeroInfo. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
