<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    
    <!--Link de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Link de estilos-->
    <link rel="stylesheet" type='text/css' href='.../../assets/css/historial.css'>

</head>

<body>
    <header>
        <div class="container">
        <a href="home.html"><h1 id="tit">AeroInfo</h1></a>
            <nav>
                <ul>
                    
                    <li><a href="reservas.html">Reservas</a></li>
                    <li><a href="vuelos.html">Seguimiento De Vuelos</a></li>
                    <li><a href="#">Tripulacion</a></li>
                    <li><a href="historial.html">Historial</a></li>
                    <li ><a href="editarPerfil.html">Editar Perfil</a></li>
                    <li ><a href="agregarVuelos.html">Gestion de vuelos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="text-center">Historial de Reservas</h1>
    <div id="historial-reservas">
        <!-- Aquí se mostrará el historial de reservas -->
    </div>

    <script>
        // Cuando la página se cargue completamente
        window.onload = async function() {
            try {
                // Realizar una solicitud GET al servidor para obtener el historial de reservas
                const response = await fetch('/historial');
                const historialReservas = await response.text();
                
                // Actualizar el contenido del div con id "historial-reservas" con el historial de reservas obtenido
                document.getElementById('historial-reservas').innerHTML = historialReservas;
            } catch (error) {
                console.error('Error al obtener el historial de reservas:', error);
                // Mostrar un mensaje de error en caso de que ocurra un error al obtener el historial de reservas
                document.getElementById('historial-reservas').innerHTML = '<p>Error al obtener el historial de reservas</p>';
            }
        };
    </script>
    



    <footer>
        <p>&copy; 2024 Aeroinfo. Todos los derechos reservados.</p>
    </footer>

    
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/DataTables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <!--Links de JS-->
    <script src='../js/historial.js'></script>

</body>

</html>