<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/style.css" />
  <title>Restablecer Contraseña</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="sign-in-form">
          <h2 class="title">Restablecer Contraseña</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Usuario" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Correo electrónico" />
          </div>
          <div class="input-field">
            <i class="fas fa-key"></i> <!-- Icono de la llave -->
            <input type="password" placeholder="Nueva Contraseña" />
          </div>
          <input type="submit" value="Cambiar" class="btn solid" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>No Temas</h3>
          <p>
            En AeroInfo, valoramos la seguridad y privacidad de tu cuenta. Si necesitas restablecer tu contraseña,
            estás en el lugar correcto. Simplemente completa los campos requeridos a continuación y estarás un paso 
            más cerca de asegurar tu cuenta de AeroInfo. ¡Gracias por confiar en nosotros!
          </p>
          <button class="btn transparent" id="sign-in-btn" onclick="redirect()">Iniciar Sesión</button>
        </div>
        <img src="assets/img/Olvido_Contra.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>