<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/vuelos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="../css/vuelos.css" rel="stylesheet">
    <title>Bienvenido a mi Formulario</title>
</head>

<body>

    <header>
        <div class="container">
        <h1 id="tit">AeroInfo</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Inicio</a></li>
                    <li><a href="reservas.html">Reservas</a></li>
                    <li><a href="vuelos.html">Seguimiento De Vuelos</a></li>
                    <li><a href="historial.html">Historial</a></li>
                    <li ><a href="editarPerfil.html">Editar Perfil</a></li>
                    <li class="link"><a href="equipaje.html">Equipaje</a></li>
                </ul>
            </nav>
        </div>
    </header>
   

    <div class="container">
        <div class="container-form">
            <div class="welcome-back text-center">
                <h2>Buscar Vuelo</h2>
                <form id="formulario">
                    <div class="mb-3">
                        <label for="idVuelo" class="form-label">Codigo del Vuelo:</label>
                        <input type="text" class="form-control" id="idVuelo" name="idVuelo">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="buscarVuelo()">Buscar</button>
                </form>
            </div>
            <div id="resultado"></div>
        </div>
    </div>

    <script>
        function buscarVuelo() {
            const idVuelo = document.getElementById('idVuelo').value;
            fetch(`/vuelos?idVuelo=${idVuelo}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('resultado').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error al buscar vuelo:', error);
                    document.getElementById('resultado').innerHTML = '<p>Error al buscar vuelo</p>';
                });
        }
    </script>
    


    

    <footer>
        <p>&copy; 2024 Aeroinfo. Todos los derechos reservados.</p>
    </footer>

    <script src="vuelos.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>