.banner {
  background-color: #003459;
  color: #fff;
  padding: 10px 0;
}

.banner__logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.banner__nav {
  margin-top: 10px;
  margin-right: 20px;
  float: right;
}

.nav__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__links .link {
  display: inline;
  margin-right: 20px;
}

.nav__links .link a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav__links .link a:hover {
  color: #ffc107;
}
