/* Banner Styles */
.banner {
  background-color: #003459;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

/* Navigation Styles */
.banner__nav, .nav__links {
  display: flex;
  list-style: none;
  margin-right: 20px;
  padding: 0;
}

.nav__links .link {
  margin-right: 20px;
}

.nav__links .link a, .nav__links .link button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__links .link a:hover, .nav__links .link button:hover {
  color: #ffc107;  /* Highlight color on hover */
}

/* Card Styles */
.card-header {
  background-color: #003459;
  color: white;
  font-size: 18px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0056b3;
  border-color: #004085;
}

.text-center {
  margin-top: 20px;
}

/* New Styles for Report Management */
.container {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.h-59 {
  height: 30vh !important; /* Ajusta la altura del contenedor de la tarjeta */
}

#myChart {
  max-width: 500px; /* Reduzca el ancho del gráfico */
  max-height: 400px; /* Reduzca la altura del gráfico */
  margin: auto; /* Centra el gráfico */
}
