footer {
  background-color: #003459;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  nav ul li:first-child {
    margin-left: 350px;
  }
  
  nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #003459;
  }
  .container:last-child {
    margin-bottom: 60px; /* Ajusta este valor según tus necesidades */
}
/* Estilo para reducir el tamaño de la tarjeta */
.col-md-6 .card {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto; /* Centra la tarjeta horizontalmente */
}

/* Estilo para reducir el tamaño del header de la tarjeta */
.card-header h1 {
    font-size: 1.5rem; /* Reduce el tamaño de la fuente */
}

/* Estilo para reducir el tamaño del formulario y sus elementos internos */
#formBorrarVuelo .form-group label {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente de las etiquetas */
}

#formBorrarVuelo .form-control {
    padding: 0.5rem; /* Reduce el espaciado interno de los campos de entrada */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente de los campos de entrada */
}

#formBorrarVuelo .btn {
    padding: 0.3rem 1rem; /* Reduce el espaciado interno del botón */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del botón */
}

  