footer {
  background-color: #003459; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 20px; /* Espaciado interno del footer */
  text-align: center; /* Alineación del texto al centro */
  position: fixed; /* Fijar el footer en la parte inferior de la ventana */
  left: 0; /* Posicionar a la izquierda */
  bottom: 0; /* Posicionar en la parte inferior */
  width: 100%; /* Ancho completo */

}


/* Estilos adicionales para mejorar la apariencia */
footer p {
  margin: 0; /* Eliminar el margen predeterminado */
}




.container {
  max-width: 1200px;
  background-color: var(--extra-light);
  color:gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 999;
}

a{

  text-decoration: none;


}

#tit{
  list-style: none;
  color: gray;
  text-decoration: none;
}
.container h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #003459;
}


body {
  background-color: #f8f9fa;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}


.container-form{

  margin:5%;
  color:#003459;
  position: relative;
  width:auto;
  border-bottom: 5%;
  

}

.cn{

  width:auto;
  margin:1%;

}

.btn{

margin-left: 45%;

}