<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/vuelos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Bienvenido a mi Formulario</title>
</head>

<body >
    
    <header>
        <div class="container">
            <h1 id="tit">Aeroinfo</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Inicio</a></li>
                    <li><a href="reservas.html">Reservas</a></li>
                    <li><a href="vuelos.html">Seguimiento De Vuelos</a></li>
                    <li><a href="#">Tripulacion</a></li>
                    <li><a href="#">Destinos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Aeroinfo</h2>
                <p>Presione aqui si desea volver a la pagina principal</p>
                <a href="home.html"><button class="sign-up-btn">Pagina Principal</button></a>
            </div>
        </div>
        <form class="formulario" method="POST">
            <h2 class="buscar-vuelo">Busca tu vuelo!</h2>
            
            <p class="cuenta-gratis ">Encuentra tu vuelo!</p>
            <input type="text" placeholder="Destino" required>
            <input type="text" placeholder="Origen" required>
            <input type="text" placeholder="Numero de vuelo" required>
            <input type="text" placeholder="Usuario" required>
            <input type="button" value="Buscar">
        </form>
    </div>
    
    <footer>
        <p>&copy; 2024 Aeroinfo. Todos los derechos reservados.</p>
    </footer>
    
    <script src="vuelos.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>